@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body{
    background: white;
    font-family: "Times New Roman", Times, serif;
  }
  
  .topnav {
      background-color:darkblue;
      overflow: hidden;
  
    }
    
  .topnav a {
  
      color: white;
      float: left;
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 20px;
      
  }
    
    
  .topnav a:hover {
      background-color: white;
      color: darkblue;
      text-decoration: underline;
  }
    
    
  .topnav a.active {
      background-color: white;
      color: rgb(27, 16, 129);
  }

  .topnav-right{
    float:right;
}
  
  .container {
    position: relative;
   
  }
  
  .center {
    position: absolute;
    top: 31%;
    width: 100%;
    text-align: center;
    font-size: 55px;
    color: white;
    text-shadow: 2px 2px 4px darkblue;
  }
  
  img { 
    width: 100%;
    height: 400px;
    opacity: 1;
  }
  
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 1.5px solid darkblue;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    color: white;
    position:relative;
    opacity: 0.5;
    box-shadow: darkblue;
  
  }
  
  .searchTerm:focus{
    color: darkblue;
    
  }
  
  .searchButton {
    position:relative;
    width: 150px;
    height: 54px;
    left: -15px;
    border: 1px solid darkblue;
    background: darkblue;
    text-align: center;
    color:white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
  }
  
  .wrap{
    width: 40%;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

.icons{
    padding-top: 2%;
    display: flex;
    justify-content: space-evenly;
}

.iconContainer {
  position: relative;
  width: 18%;
  max-width: 20%;

}

.icon {
  display: block;
  width: 70%;
  padding:15%;
  padding-top: 30%;
  height: auto;
  left:50%;
}

.overlay {
  position: absolute; 
  top: 0; 
  background: rgb(6, 16, 75);
  background: rgba(4, 22, 104, 0.685); 
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}
.iconContainer:hover .overlay {
  opacity: 1;
}

  
  .navbar2 {
    background-color: rgb(255, 223, 153);
    overflow: hidden;
    bottom: 0;
    opacity: 0.8;
    display:flex;
    justify-content: space-around;
  }
  
  .navbar2 a {
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 2%;
    text-decoration: none;
    font-size: 17px;
    width: 25%;

  }
  .navbar a:hover {
    background-color: rgb(255, 223, 153);
    color:darkblue;
  }
  
  @media screen and (max-width: 768px) {

    .topnav{
      background-color: rgba(0, 49, 139, 0.411);
    }
  .topnav a {
      font-size: 18px;
      padding: 12px 16px;
  }
  .navbar2 a {
      float: none;
      width: 100%;
      font-size: 18px;
      padding: 12px 16px;
  }
  .center {
    position: absolute;
    top: 23%;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 2px 2px 4px darkblue;
  }
  img { 
    width: 100%;
    height: 300px;
  }

  .wrap{
    width: 60%;
    top: 30%;
  }
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    border: 1px solid darkblue;
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 10px;
  
  }
  
  .searchButton {
    position:relative;
    width: 150px;
    height: 43px;
    left: -15px;
    border: 1px solid darkblue;
    font-size: 15px;
  }

.icons{
  padding-top: 5%;
}

  .overlay { 
    font-size: 15px;
    padding: 5px;
    border-radius: 3px;
  }
  
  }
  
  @media screen and (max-width: 580px) {
  .topnav{
    background-color: rgba(0, 49, 139, 0.322);

  }
    .topnav a {
    font-size: 18px;
    width:100%;
    padding: 10px;
 
  }

  .topnav-right{
    width:100%;
    float:left;
}
  .navbar2 a {
      font-size: 15px;

  }
  .center {
    position: absolute;
    top: 21%;
    width: 100%;
    text-align: center;
    font-size: 33px;
    color: white;
    text-shadow: 1px 1px 2px darkblue;
  }

  .wrap{
    width: 70%;
    top: 40%;
  }

  img { 
    width: 100%;
    height: 200px;
  }
  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    border: 1px solid darkblue;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 10px;
  
  }
  
  .searchButton {
    position:relative;
    width: 150px;
    height: 31px;
    left: -15px;
    border: 1px solid darkblue;
    font-size: 13px;
  }

  .overlay { 
    width:80%;
    font-size: 15px;
    padding: 6px;
    border-radius: 5px;
  }

  .icons{
    margin-top: 7px;
    padding-top: 7%;
    display: flex;
    flex-wrap: wrap;

 
  }
  .iconContainer{
    width: 30%;
    max-width: 33%;
    padding:1% 1%;  

  }
  
  .icon{
    width: 60%;
    display: flex;
    justify-content: center;
    padding-top: 13%;

  }
  }
  